# Github Actions workflow to build the base image
name: Build model images
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: repo_name
        id: repo_name
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}
      
      - name: branch_name
        id: branch_name
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.ref_name }}
      
      - name: install FAIRmodel package
        run: |
          pip install git+https://github.com/MaastrichtU-BISS/FAIRmodels-model-package.git@error_catch#subdirectory=package

      - name: login GitHub container registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      
      - name: build stiphout clinical
        run: |
          cd stiphout_pCR-Clinical
          fm-build stiphout_pCR_Clinical.json ghcr.io/${{ steps.repo_name.outputs.lowercase }}/stiphout_pcr_clinical
          docker push ghcr.io/${{ steps.repo_name.outputs.lowercase }}/stiphout_pcr_clinical
  
      # - name: build willemsen
      #   run: |
      #     cd willemsen_PEG_tubefeed
      #     fm-build willemsen_tubefeed.py ghcr.io/${{ steps.repo_name.outputs.lowercase }}/willemsen_tubefeed
      #     docker push ghcr.io/${{ steps.repo_name.outputs.lowercase }}/willemsen_tubefeed
